In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\attrition.csv")

In [3]:
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [4]:
df=df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

# LabelEncoder

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lb=LabelEncoder()

In [8]:
df['Attrition']=lb.fit_transform(df['Attrition'])
df['BusinessTravel']=lb.fit_transform(df['BusinessTravel'])
df['Department']=lb.fit_transform(df['Department'])
df['EducationField']=lb.fit_transform(df['EducationField'])
df['Gender']=lb.fit_transform(df['Gender'])
df['JobRole']=lb.fit_transform(df['JobRole'])
df['MaritalStatus']=lb.fit_transform(df['MaritalStatus'])
df['Over18']=lb.fit_transform(df['Over18'])
df['OverTime']=lb.fit_transform(df['OverTime'])

In [19]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
690,31,0,2,616,1,12,3,3,1,961,...,3,80,2,10,2,1,9,7,8,5
1009,58,0,2,1055,1,1,3,3,1,1423,...,3,80,1,32,3,3,9,8,1,5
431,54,0,2,548,1,8,4,1,1,578,...,3,80,0,19,3,3,1,0,0,0
1361,26,0,1,1096,1,6,3,4,1,1918,...,1,80,1,8,3,3,7,7,7,7
570,52,0,0,715,1,19,4,3,1,791,...,1,80,1,5,3,3,4,3,1,2

# Standardization

In [10]:
x=df.drop(columns={'YearsWithCurrManager'},axis=1) 
y=df['YearsWithCurrManager']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
np.round(x_train.describe(),3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1176.000,1176.000,1176.000,1176.000,1176.000,1176.000,1176.000,1176.000,1176.0,1176.000,...,1176.000,1176.000,1176.0,1176.000,1176.000,1176.000,1176.000,1176.000,1176.000,1176.000
mean,36.775,0.168,1.614,799.411,1.264,9.260,2.896,2.234,1.0,1028.283,...,3.156,2.691,80.0,0.812,11.119,2.796,2.752,6.929,4.208,2.107
std,9.204,0.374,0.655,405.727,0.529,8.154,1.039,1.327,0.0,607.598,...,0.363,1.081,0.0,0.859,7.815,1.298,0.695,6.089,3.614,3.118
min,18.000,0.000,0.000,102.000,0.000,1.000,1.000,0.000,1.0,1.000,...,3.000,1.000,80.0,0.000,0.000,0.000,1.000,0.000,0.000,0.000
25%,30.000,0.000,1.000,464.000,1.000,2.000,2.000,1.000,1.0,492.750,...,3.000,2.000,80.0,0.000,6.000,2.000,2.000,3.000,2.000,0.000
50%,36.000,0.000,2.000,796.500,1.000,7.000,3.000,2.000,1.0,1018.000,...,3.000,3.000,80.0,1.000,10.000,3.000,3.000,5.000,3.000,1.000
75%,43.000,0.000,2.000,1157.250,2.000,14.000,4.000,3.000,1.0,1569.750,...,3.000,4.000,80.0,1.000,15.000,3.000,3.000,10.000,7.000,2.000
max,60.000,1.000,2.000,1496.000,2.000,29.000,5.000,5.000,1.0,2068.000,...,4.000,4.000,80.0,3.000,40.000,6.000,4.000,40.000,18.000,15.000

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc=StandardScaler()

In [16]:
x_train_sc=sc.fit_transform(x_train)

In [17]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [18]:
np.round(x_train_new.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.0,-0.4,-2.5,-1.7,-2.4,-1.0,-1.8,-1.7,0.0,-1.7,...,-0.4,-1.6,0.0,-0.9,-1.4,-2.2,-2.5,-1.1,-1.2,-0.7
25%,-0.7,-0.4,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,...,-0.4,-0.6,0.0,-0.9,-0.7,-0.6,-1.1,-0.6,-0.6,-0.7
50%,-0.1,-0.4,0.6,-0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,...,-0.4,0.3,0.0,0.2,-0.1,0.2,0.4,-0.3,-0.3,-0.4
75%,0.7,-0.4,0.6,0.9,1.4,0.6,1.1,0.6,0.0,0.9,...,-0.4,1.2,0.0,0.2,0.5,0.2,0.4,0.5,0.8,-0.0
max,2.5,2.2,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,...,2.3,1.2,0.0,2.5,3.7,2.5,1.8,5.4,3.8,4.1

# Normalization

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
mn=MinMaxScaler()

In [22]:
x_train_mn=mn.fit_transform(x_train)

In [23]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [24]:
np.round(x_train.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,36.8,0.2,1.6,799.4,1.3,9.3,2.9,2.2,1.0,1028.3,...,3.2,2.7,80.0,0.8,11.1,2.8,2.8,6.9,4.2,2.1
std,9.2,0.4,0.7,405.7,0.5,8.2,1.0,1.3,0.0,607.6,...,0.4,1.1,0.0,0.9,7.8,1.3,0.7,6.1,3.6,3.1
min,18.0,0.0,0.0,102.0,0.0,1.0,1.0,0.0,1.0,1.0,...,3.0,1.0,80.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25%,30.0,0.0,1.0,464.0,1.0,2.0,2.0,1.0,1.0,492.8,...,3.0,2.0,80.0,0.0,6.0,2.0,2.0,3.0,2.0,0.0
50%,36.0,0.0,2.0,796.5,1.0,7.0,3.0,2.0,1.0,1018.0,...,3.0,3.0,80.0,1.0,10.0,3.0,3.0,5.0,3.0,1.0
75%,43.0,0.0,2.0,1157.2,2.0,14.0,4.0,3.0,1.0,1569.8,...,3.0,4.0,80.0,1.0,15.0,3.0,3.0,10.0,7.0,2.0
max,60.0,1.0,2.0,1496.0,2.0,29.0,5.0,5.0,1.0,2068.0,...,4.0,4.0,80.0,3.0,40.0,6.0,4.0,40.0,18.0,15.0

In [25]:
np.round(x_train_new.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.4,0.2,0.8,0.5,0.6,0.3,0.5,0.4,0.0,0.5,...,0.2,0.6,0.0,0.3,0.3,0.5,0.6,0.2,0.2,0.1
std,0.2,0.4,0.3,0.3,0.3,0.3,0.3,0.3,0.0,0.3,...,0.4,0.4,0.0,0.3,0.2,0.2,0.2,0.2,0.2,0.2
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.3,0.0,0.5,0.3,0.5,0.0,0.2,0.2,0.0,0.2,...,0.0,0.3,0.0,0.0,0.2,0.3,0.3,0.1,0.1,0.0
50%,0.4,0.0,1.0,0.5,0.5,0.2,0.5,0.4,0.0,0.5,...,0.0,0.7,0.0,0.3,0.2,0.5,0.7,0.1,0.2,0.1
75%,0.6,0.0,1.0,0.8,1.0,0.5,0.8,0.6,0.0,0.8,...,0.0,1.0,0.0,0.3,0.4,0.5,0.7,0.2,0.4,0.1
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int32
 2   BusinessTravel            1470 non-null   int32
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int32
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int32
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int32
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int32
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int32
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int32
 22  OverTime                  1470 non-null   int32
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int32(9), int64(26)
memory usage: 350.4 KB